# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.ipa
*.lock
*.zip
*.freezed.dart
*.g.dart
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.lock/
/*/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!android/gradlew
!android/gradlew.bat
!android/gradle/wrapper/gradle-wrapper.jar

# iOS
/ios/fastlane/report.xml
/ios/Flutter/.last_build_id
/android/fastlane/report.xml

# Quality report
code-quality-report.json

# test
test/pages/*/failures/*.png

# Mason
.mason
mason-lock.json
/ios/build/
/fastlane/notes.txt
/apps/eschool_flutter/pubspec_overrides.yaml
/apps/eschool_flutter/fastlane/notes.txt
/apps/eschool_flutter/build/
/.fvmrc
/modules/core/.fvmrc
/modules/shared/.fvmrc
/.fvm/release
/.fvm/version
/modules/user_creds_plugin/.fvm/flutter_sdk/
/modules/user_creds_plugin/.fvm/flutter_sdk/.vscode/settings.json

# FVM Version Cache
.fvm/
apps/eschool_flutter/devtools_options.yaml
/apps/eschool_flutter/android/fastlane/report.xml
/apps/eschool_flutter/lib/generated/l10n.dart
/apps/eschool_flutter/lib/generated/intl/
/apps/eschool_flutter/ios/Flutter/AppFrameworkInfo.plist
/apps/eschool_flutter/ios/Flutter/Debug.xcconfig
/apps/eschool_flutter/ios/Flutter/Flutter.podspec
/apps/eschool_flutter/ios/Flutter/flutter_export_environment.sh
/apps/eschool_flutter/ios/Flutter/Generated.xcconfig
/apps/eschool_flutter/ios/Flutter/Release.xcconfig
